/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***** BEGIN CUSTOM CSS *****/


/** GENERAL **/
body {
	background-color: black;
	color: white;
}

strong {
	color: #ED1B24;
}

.pageWrapper {
	padding: 20px 70px;
}

button {
	background-color: black;
	color: white;
	border: 3px solid white;
	padding: 5px 10px;
}

button:hover {
		color: #ED1B24;
		cursor: pointer;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: -1px;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 10px;
  
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

button:active {
	border: 3px solid #ED1B24;
}

/** END GENERAL **/


nav {
	margin-bottom: 10px;
	height: 100px;
	border-bottom: 1px solid white;
}

img#logo {
	height: 100px;
	float:left;
}

#navMenu {
	float: right;
	line-height: 100px;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.current {
	color: #ED1B24;
}

.navLink {
	padding-left: 100px;
}

footer {
	margin-top: 50px;
	padding-top:5px;
	height:100px;
	border-top: 1px solid white;
}

.footerColumn {
	float: left;
	width: 33.3%;
}

.columnLeft {
	text-align:left;
}

.columnMiddle {
	text-align:center;
}

.columnRight {
	text-align: right;
}

.social {
	width: 30px;
	height: 30px;
	padding-top:5px;
}

.social:hover {
	cursor:pointer;
}

#emailForm {
	padding-top:5px;
}

#footerLinks a {
	text-decoration: underline;
}

#copyright {
	font-size: 11.1px;
	padding-top: 5px;
}