h2 {
	font-size:35px;
	font-weight:bold;
	margin-top: 30px;
}

h3 {
	font-size:25px;
	font-weight:bold;
	margin-top:10px;
}

.contentWrapper {
	height:275px;
	margin: auto;
}

#advertisement>img {
	width:100%;
}

#info {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center; 
}

.circleContainer {
	display:table-cell;
}

.circle {
	display:inline-block;
	border-radius: 50%;
	background-color: white;
	width: 300px;
	height: 300px;
	margin: 10px 30px;
}

#ray {
	max-width: 118px;
	margin:15px;
}

#location {
	max-width: 50px;
	margin-top: 15px;
}

.icon {
	max-height:50px;
	opacity: 0.75;
}

#burger {	
	float:left;
	margin-right:10px;
}

#hotdog {
	float:right;
	max-height:40px;
	margin: 0 15px;
}

#goClassic {
	padding-left:15px;
	margin-bottom:10px;
}

#classicText, #dawgText {
	margin-top:20px;
	padding-top:12px;
}

#feelinDawg {
	margin-bottom:25px;
}