@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'drawveticaminimedium';
    src: 
         url('drawveticamini/DrawveticaMini-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'dobkinplain';
    src: 
         url('dobkin_plain/DobkinPlain-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




h1 {
	font-family: 'dobkinplain';
}

h2 {
	font-family: 'drawveticaminimedium';
}

h3 {
	font-family: 'Liu Jian Mao Cao', cursive;
}

p {
	font-family: 'Indie Flower', cursive;
}