/*** ADOBE FONTS ***/
/* Requires <link rel="stylesheet" href="https://use.typekit.net/par7ehp.css"> */

@font-face {
	font-family: mrsheffield-pro,sans-serif;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: raleway-bold,sans-serif;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: raleway,sans-serif;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: raleway-italic,sans-serif;
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: raleway-bolditalic,sans-serif;
	font-weight: 700;
	font-style: italic;
}