/*** LANDING LOGO ***/
/*#kp_logo {
	position: relative;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	
}*/

#welcome {
	width: 100%;
	height: 100%;
}

.section {
	margin-top: 100px;
}

/*** PORTFOLIO ***/

#fullPortfolio {
	margin-top: 50px;
	display: block;
	text-align: center;
	font-size: 60px;
}

/*** CONTACT FORM ***/
#contact {
	margin-bottom: 100px;
}

#contact_submit {
	float:right;
	margin-top:15px;
}

input, textarea {
	width:100%;
	margin-top:15px; 
	font-family: raleway;
	color: #83A9A7;
	padding: 5px;
}

textarea {
	min-height: 100px;
}

textarea:focus,input:focus {
	padding: 15px;
}

::placeholder {
	padding-left: 3px;
	color: #83A9A7;
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	padding-left: 3px;
	color: #83A9A7;
}

::-ms-input-placeholder { /* Microsoft Edge */
	padding-left: 3px;
	color: #83A9A7;
	font-weight:bold;
}
