/*** PORTFOLIO ***/

#slider > img {
	max-height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 50px;
}

.slider-wrapper {
	height: 600px;
}

.prev {
	float: left;
}

.next {
	float: right;
}

.contentWrapper {
	margin-bottom: 100px; 
}