/*** PORTFOLIO ***/

.headerBar {
	font-family: mrsheffield-pro;
	color: #C8A960;
	font-size: 50px;
	text-align:center;
	padding-top:40px;
	background-color: #5B9892;
	height: 70px;
	margin: 100px 0 50px 0;
}