/*** PORTFOLIO ***/


.prev {
	float: left;
}

.next {
	float: right;
}

.contentWrapper {
	margin-bottom: 100px; 
}

#slider {	
	margin-bottom: 50px;
}

/** SLICK SLIDER **/
.slick-arrow,
.slick-next {
	height:25px;
}

#slider > img {
	max-height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sliderContainer {
  margin: 0 auto;
  padding: 40px;
  width: 80%;
  color: #333;
}


.slick-slide {
  text-align: center;
  margin: 0 auto;
  background: white;
}

#slider img {
  height: 80vh;
  /*max-height: 600px;*/
  width: auto;
  margin: 0 auto; /* it centers any block level element */
}
