@charset "utf-8";
/* CSS Document */

body {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	background-image: url("../images/spikes.png")
}

#wrapper, header, main {
	width:960px;
	float:left;
}

#wrapper {
	margin: 0 auto;
}

main {
	margin-bottom: 50px;
	border-top: solid thin gray;
	margin-top: 25px;
	padding-top:44px;
	background-color: rgba(247,247,247,0.60);
	overflow: hidden;
}


footer {
	width: 950px;
	float: left;
	border-top: solid thin gray;
	padding-left: 10px; 
}

.column {
	width: 220px;
	margin: 0 10px;
	float:left;
}

h2 {
	font-weight: bold;
	font-size: 17px;
	margin-top: 20px;
	margin-bottom: 26px;
}

p {
	font-size: 17px;
}

small {
	font-size: 14px;
}
